.Repo-Card {
    border: 2px solid midnightblue;
    border-radius: 15px;;
    margin-top: 16px;
    width: 180px;
    float: left;
    margin-inline-end: 4%;
    align-self: auto;
    flex: start;
    padding: 10px;
    width: 20em;
    height: 20em;
    background-color: #B0E0E6;
    margin-bottom: 16px
}
.Card-Content {
    border-top: 1px dashed blue;
}
.Owner-Profile-Image {
    position: relative;
    max-width: 3em;
}
.Repo-description {
    background-color: aquamarine;
}

.Topics {
    display: flex;
    justify-content: center;
}